In [1]:
import sqlite3

In [2]:
def create_table():
    conn=sqlite3.connect('my_books2.db')
    cursor=conn.cursor()
    cursor.execute('''create table if not exists books(
    title text,
    pulished_date text,
    publisher text,
    pages integer,
    recommend integer
    )''')
    conn.commit()
    conn.close()
    
create_table()

In [3]:
def insert_books():
    conn=sqlite3.connect("my_books2.db")
    cursor=conn.cursor()
    cursor.execute("""insert into books
    values('Java','2019-05-20','길벗',500,10)""")
    sql='insert into books values(?,?,?,?,?)'
    cursor.execute(sql,('Python','201001','한빛',584,20))
    items=[
        ('빅데이터','2014-07-02','삼성',296,11),
        ('안드로이드','2010-02-02','영진',526,20),
        ('Spring','2013-12-02','삼성',248,15)
    ]
    cursor.executemany(sql,items)
    conn.commit()
    conn.close()
insert_books()

In [4]:
def all_books():
    conn=sqlite3.connect("my_books2.db")
    cursor=conn.cursor()
    cursor.execute("select * from books")
    print('전체데이터 출력하기')
    books=cursor.fetchall()
   
    print(type(books))
    
    print(len(books))
    
    for book in books:
        print(book)
    conn.close()
all_books()

전체데이터 출력하기
<class 'list'>
10
('Java', '2019-05-20', '길벗', 500, 10)
('Python', '201001', '한빛', 584, 20)
('빅데이터', '2014-07-02', '삼성', 296, 11)
('안드로이드', '2010-02-02', '영진', 526, 20)
('Spring', '2013-12-02', '삼성', 248, 15)
('Java', '2019-05-20', '길벗', 500, 10)
('Python', '201001', '한빛', 584, 20)
('빅데이터', '2014-07-02', '삼성', 296, 11)
('안드로이드', '2010-02-02', '영진', 526, 20)
('Spring', '2013-12-02', '삼성', 248, 15)

In [10]:
#데이터 개수 지정하여 출력
def some_books(number):
    conn=sqlite3.connect("my_books2.db")
    cursor=conn.cursor()
    cursor.execute("select * from books")
    books=cursor.fetchmany(number)
    for book in books:
        print(book)
        conn.close()
some_books(3)

('Java', '2019-05-20', '길벗', 500, 10)
('Python', '201001', '한빛', 584, 20)
('빅데이터', '2014-07-02', '삼성', 296, 11)

In [20]:
#수정하기
def update_books():
    conn=sqlite3.connect("my_books2.db")
    cursor=conn.cursor()
    sql='update books set pages=? where title=?'
    cursor.execute(sql,(350,'Java'))
    conn.commit()
    conn.close()
update_books()
all_books()

전체데이터 출력하기
<class 'list'>
10
('Java', '2019-05-20', '길벗', 350, 10)
('Python', '201001', '한빛', 584, 20)
('빅데이터', '2014-07-02', '삼성', 296, 11)
('안드로이드', '2010-02-02', '영진', 526, 20)
('Spring', '2013-12-02', '삼성', 248, 15)
('Java', '2019-05-20', '길벗', 350, 10)
('Python', '201001', '한빛', 584, 20)
('빅데이터', '2014-07-02', '삼성', 296, 11)
('안드로이드', '2010-02-02', '영진', 526, 20)
('Spring', '2013-12-02', '삼성', 248, 15)

In [21]:
#삭제하기
def delete_books():
    conn=sqlite3.connect("my_books2.db")
    cursor=conn.cursor()
    sql="delete from books where publisher='한빛'"
    cursor.execute(sql)
    conn.commit()
    conn.close()
delete_books()
all_books()

전체데이터 출력하기
<class 'list'>
8
('Java', '2019-05-20', '길벗', 350, 10)
('빅데이터', '2014-07-02', '삼성', 296, 11)
('안드로이드', '2010-02-02', '영진', 526, 20)
('Spring', '2013-12-02', '삼성', 248, 15)
('Java', '2019-05-20', '길벗', 350, 10)
('빅데이터', '2014-07-02', '삼성', 296, 11)
('안드로이드', '2010-02-02', '영진', 526, 20)
('Spring', '2013-12-02', '삼성', 248, 15)